services:
  pushpin:
    build:
      context: ./pushpin
      dockerfile: development/Dockerfile
    ports:
      - "7999:7999" # HTTP port
      - "5561:5561" # Control port (HTTP)

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  caddy:
    build:
      context: ./caddy
      dockerfile: Dockerfile.development
    ports:
      - "8882:8882"
    environment:
      - PROXY_TARGET=pushpin:5561
